<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title float-left">
                User List
            </h3>
            <div class="clearfix"></div>
            <hr>
            <table class="table table-striped">
                <thead>
                <tr class="row">
                    <th class="col-md-1">ID</th>
                    <th class="col-md-2">NAME</th>
                    <th class="col-md-1">AGE</th>
                    <th class="col-md-2">SALARY</th>
                    <th class="col-md-2" colspan="2">#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}" class="row" th:id="${'user-' + user.id}">
                    <td class="col-md-1" th:text="${user.id}"></td>
                    <td class="col-md-2" th:text="${user.name}"></td>
                    <td class="col-md-1" th:text="${user.age}"></td>
                    <td class="col-md-2" th:text="${user.salary}"></td>
                    <td><a class="btn-link mr-2" th:href="@{/user/edit/id={id}(id=${user.id})}">Edit</a></td>
                    <td><a class="btn-link" th:href="@{/user/delete/id={id}(id=${user.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>